.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
small {
  border: 1px solid lightgray;
  padding: 0.2rem;
  border-radius: 2px;
}

small:hover {
  transition: 0.1s ease-in-out;
  background-color: aliceblue;
  cursor: pointer;
}

.tags {
  display: flex;
  gap: 0.4rem;
}